h1 {
    font-family: 'Arial', 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: bold;

    line-height: 2.0;

    text-align: justify;
    text-indent: 45px;
}

p {
    font-family: 'Arial', 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;

    line-height: 2.0;

    text-align: justify;
    text-indent: 45px;
}

p > strong {
    text-decoration: line-through;
}